.producscontainer{
display: flex;
height: 800px;
width: 100vw;
background-color: rgb(248, 248, 247);
padding: 10px;
}
.filterarea{
display: grid;
align-items: center;
gap: 25px;
justify-content: center;
padding: 15px;
width: 30vw;
height: max-content;
max-height: fit-content;

}
.filterrow{
display: flex;
gap: 20px;
  flex-wrap: wrap;
}
.radio{
height: 20px;
width: 20px;
}

.productsarea{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
    width: 80vw;
    height: fit-content;

gap: 10px;
padding: 10px;

}
.mainproductimage{
height: 100px;
width: 200px;
justify-self: center;

}
@media(max-width: 800px){

    .filterarea{
       
        gap: 25px;
        justify-content: center;
        padding: 15px;
        width: 20vw;
        height: max-content;
        max-height: fit-content;
        
        }
        .filterrow{
        display: flex;
        gap: 20px;
          flex-wrap: wrap;
        }
        .radio{
        height: 20px;
        width: 20px;
        }




}
@media(max-width: 500px){

    .filterarea{
       
        gap: 15px;
        justify-content: center;
        padding: 10px;
        width: 17vw;
        }
        .filterrow{
        gap: 15px;
        }
        .radio{
        height: 15px;
        width: 15px;
        }


            .product-card {
          
              width: 200px;
              gap: 5px;
              background-color: aqua;
              
            }
                 



}